@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
    -fx-font-family: "Dongle", sans-serif;
}


.button {
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
}